.dark {
    padding: 2px; 
    border: none; 
}

.table {
    border: solid 0.02px;
    margin-top: 3px;
}

.row {
    background-color: lightgrey;
    border: none; 
    padding: 2px;
}

label {
    font-family: sans-serif;
}